# Supabase PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:[password]@db.fwznuyinlnflluwzbbmw.supabase.co:5432/postgres"

# Supabase API URL and Anon Key for Storage
SUPABASE_URL="https://[YOUR-PROJECT-REF].supabase.co"
SUPABASE_ANON_KEY="[YOUR-ANON-KEY]"
SUPABASE_SERVICE_ROLE_KEY="[YOUR-SERVICE-ROLE-KEY]" # If needed for admin tasks

PORT=5000
